/* PC Responsive */
@media only screen and (min-width: 64em) {

}
 /* Các nút bấm và các input trên Tablet và Mobile nên to khoảng 48px */
/* Tablet & Mobile Responsive */
@media only screen and (max-width: 63.9375em) {
    .btn {
        padding: 16px 17px;
    }

    .contact-form .form-control {
        padding: 16px;
        font-size: 16px;
    }

    .contact-infor {
        line-height: 2;
    }

    .contact-bubmit-btn {
        font-size: 16px;
    }

    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copy-right {
        padding: 12px 0;
        display: inline-block;
    }

    .model-input {
        padding: 15px;
    }
}

/* Tablet Responsive */
@media only screen and (max-width: 46.1875em) and (min-width: 63.9375em) {

}

/* Mobile Responsive */
@media only screen and (max-width: 46.1875em) {
    
    .small-full-width,
    .small-col-full {
        width: 100% !important;
    }

    .small-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }
    
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 25px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-avartar {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}
